.tab-bar {
  border-top: 1px solid #eee;
  z-index: 2;
  .iconfont {
    font-size: 20px;
  }
  span {
    font-size: 24px;
  }
  .active {
    color: #f7d30d;
  }
  .active-text {
    color: #333;
    font-weight: bold;
  }
}